﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<![endif]-->
	<title>Free Responsive Admin Theme - ZONTAL</title>
	<!-- BOOTSTRAP CORE STYLE  -->
	<link href="css/bootstrap.css" rel="stylesheet" />
	<!-- FONT AWESOME ICONS  -->
	<link href="css/font-awesome.css" rel="stylesheet" />
	<!-- CUSTOM STYLE  -->
	<link href="css/style.css" rel="stylesheet" />
	<!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="navbar navbar-inverse set-radius-zero">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
						{{ config('app.name', 'Laravel') }}
				</a>

			</div>

			<div class="left-div">
				<i class="fa fa-user-plus login-icon" ></i>
			</div>
		</div>
	</div>

	<div class="content-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h4 class="page-head-line">Пожалуйста Войдите, Чтобы Войти</h4>

				</div>

			</div>
			<div class="row">
				<div class="col-md-6">
				   <label>Enter Email ID : </label>
				   <input type="text" class="form-control" />
				   <label>Enter Password :  </label>
				   <input type="password" class="form-control" />
				   <hr />
				   <a href="index.html" class="btn btn-info"><span class="glyphicon glyphicon-user"></span> &nbsp;Log Me In </a>&nbsp;
			   </div>
			   <div class="col-md-6">
				<div class="alert alert-info">
					This is a free bootstrap admin template with basic pages you need to craft your project. 
					Use this template for free to use for personal and commercial use.
					<br />
					<strong> Some of its features are given below :</strong>
					<ul>
						<li>
							Responsive Design Framework Used
						</li>
						<li>
							Easy to use and customize
						</li>
						<li>
							Font awesome icons included
						</li>
						<li>
							Clean and light code used.
						</li>
					</ul>
					
				</div>
				<div class="alert alert-success">
				   <strong> Instructions To Use:</strong>
				   <ul>
					<li>
					 Lorem ipsum dolor sit amet ipsum dolor sit ame
				 </li>
				 <li>
				   Aamet ipsum dolor sit ame
			   </li>
			   <li>
				 Lorem ipsum dolor sit amet ipsum dolor
			 </li>
			 <li>
			   Cpsum dolor sit ame
		   </li>
	   </ul>
	   
   </div>
</div>

</div>
</div>
</div>
<!-- CONTENT-WRAPPER SECTION END-->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				&copy; 2015 YourCompany | By : <a href="http://www.designbootstrap.com/" target="_blank">DesignBootstrap</a>
			</div>

		</div>
	</div>
</footer>
<!-- FOOTER SECTION END-->
<!-- JAVASCRIPT AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
<!-- CORE JQUERY SCRIPTS -->
<script src="js/jquery-1.11.1.js"></script>
<!-- BOOTSTRAP SCRIPTS  -->
<script src="js/bootstrap.js"></script>
</body>
</html>
